$text-color-green: #009B4D;
$text-color-ligthtgrey: rgba(43, 41, 45, 0.6);
$text-color-base: #2B292D;
$text-color-blue: #3142C6;
$text-color-orange: #F1592B;


$bg-grey-color: #F4F5F7;
$bg-teal-color: #00A1C612;
$bg-ligt-red-color: #FCF0E3;

$border-grey-color: rgba(43, 41, 45, 0.2);
$border-blue-color: #0185D0;
