* {
    box-sizing: border-box;
}
.container {
    
    float: left;
    width: 50%;
}
.footer {
    
    clear: both;
}
.red {
    
    background-color: red;
    width: 100px;
    float: right;
}
.green {
    background-color: green;
    width: 100px;
    float: left;
}