* {
    box-sizing: border-box;
}
td {
    width: 50px;
    height: 50px;
    text-align: center;
}
table {
    border-collapse: collapse;
    margin: 16px;
    border: 1px solid black;
}
tbody > tr ~ tr:nth-child(even) >td ~ td:nth-child(-n+9):nth-of-type(odd) {
    background-color: #000;
    /* border: 1px solid black; */

}
tbody > tr ~ tr:nth-child(odd) >td ~ td:nth-child(-n+9):nth-of-type(even) {
    background-color: #000;
    /* border: 1px solid black; */
}
tbody > tr>td ~ td  {
    
    border: 1px solid black;
    background-color: #fff;
}
tbody > tr > td:last-child, tbody >tr:first-child td {
   
    border-style: none !important;
}

