* {
    box-sizing: border-box;
}

h1 {
    /* display: inline-block; */
    text-align: center;
}
.articles-list {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    flex-wrap: wrap;

}
.article {
    flex: 1 2 300px;
    min-width: 300px;
    margin: 8px;
    padding: 16px;
    background-color: bisque;
}