@import 'breakpoints.scss';
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vw;
}
.container {
    display: flex;
    flex-direction: column;
    @include orentation {
            flex-direction: row;
        }
}
.square {
    width: 100px;
    height: 100px;
    margin: 8px;
    background-color: #ff7f50;
    @include middle-size {
        background-color: #8a2be2;
    }
    @include large-size {
        background-color: #a61;
    }
    @include extra-large-size {
        background-color: #c47;
    }
}
