
body {
    display: flex;
    height: 100vh;
}
.fancy-button {
    margin: auto;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(45deg, yellow, red);
    border: none;
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    animation:  jumpUp 0.5s ease-in-out 0.4s, rot 0.5s ease-in-out, move 1s 2s ease forwards ;
    
}

@keyframes jumpUp {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-40px);
    }
    100% {
        transform: translate(0);
    }
}
@keyframes rot {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes move {
    from {
        transform: translateX(0);
     }
     to {
        transform:  translateX(2000px);
     }
}