body {
    display: flex;
}
.container {
    margin: 50vh auto;
  
    
}
.spinner {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s linear infinite;
}
.spinner-text {
    animation-timing-function: linear;
}

.rect {
    position: relative;
    background-color: black;
    width: 10px;
    height: 4px;
    border-radius: 2px;
    animation: moving 2s infinite alternate;
    
}