.action-button {
  width: 160px;
  height: 48px;
  background-color: #3040C4;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  border-radius: 2px;
}
@media screen and (min-width: 1400px) {
  .action-button {
    width: 160px;
    height: 48px;
    background-color: #3040C4;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 2px;
    margin-left: 56px;
    margin-bottom: 14px;
  }
}

.action-button-white {
  width: 158px;
  height: 48px;
  background-color: #fff;
  border: none;
  color: #3040C4;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  border-radius: 2px;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #F4F5F7;
  padding: 46px 15px;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0px;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 6px;
}
@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}

.customers {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .customers {
    width: 100%;
    padding-top: 30px;
  }
}
.customers__logos-wrapper {
  /* width: 100%; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.customers__row {
  width: 100%;
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }
}
.customers__item {
  height: 94px;
  width: 107px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  flex: 1;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
    display: contents;
  }
}
.customers__item > img {
  filter: brightness(0);
  max-width: 80%;
}
@media screen and (min-width: 1400px) {
  .customers__item > img {
    display: inline-block;
    max-width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .logos-wrapper_mobile {
    display: none;
  }
}

.logos-wrapper_desktop {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logos-wrapper_desktop {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.features {
  display: none;
  position: relative;
  margin-top: 81px;
  /* advantage */
}
@media screen and (min-width: 1400px) {
  .features {
    display: block;
    position: relative;
    margin-top: 81px;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
  margin-bottom: 103px;
}
.features__culomn {
  width: 462px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009B4D;
  margin: 0;
}
.features__title {
  width: 462px;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  width: 461px;
  margin-top: 30px;
  margin-bottom: 0;
}
.features__advantage {
  margin-top: 42px;
}
.features__advantage-title {
  display: inline-block;
  margin-left: 15px;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142C6;
}
.features__advantage-title-img {
  vertical-align: sub;
}
.features__advantage-text {
  font-size: 18px;
  line-height: 26px;
  width: 459px;
  margin-top: 8px;
}
.features__advantage-text_line {
  background: #3142C6;
  height: 3px;
  width: 457px;
  margin: auto;
}
.features__advatage-items {
  display: flex;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-top: 20px;
}
.features__advatage-items > span {
  margin-left: 15px;
}
.features__advantage-thinLine {
  border-top: 1px solid #2B292D;
  opacity: 0.15;
  margin-top: 22px;
  margin-bottom: 0;
}
.features__halfHeadPic {
  position: absolute;
  top: 258px;
  bottom: 178px;
  /* left: -130px; */
  height: 166px;
}
.features__pointerPic {
  position: absolute;
  top: 350px;
  left: 405px;
  /* bottom: 232px; */
}
.features__baner {
  position: absolute;
  /* height: 597px; */
  /* margin-left: 126px; */
  right: 0;
}

.footer {
  width: 100%;
  background-color: #fff;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.footer .logo {
  display: none;
}
@media screen and (min-width: 1400px) {
  .footer .logo {
    display: flex;
    align-items: center;
  }
}
.footer .logo__text {
  display: flex;
  flex-direction: column;
}
.footer .logo__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.footer .logo__description {
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}
.footer__description {
  display: none;
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
  margin: 26px 0 25px 0;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: inline-block;
  }
}
.footer__line {
  display: none;
  border-bottom: 1px 0 0 0 solid #2B292D;
  width: 100%;
  opacity: 0.1;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    display: inline-block;
  }
}
@media screen and (min-width: 1400px) {
  .footer {
    width: 1400px;
  }
}

/* foot column 1 */
.footer-navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    width: 1140px;
    height: 338px;
    flex-direction: row;
    align-items: center;
  }
}

.about-company {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .about-company {
    margin-top: 44px;
    margin: 52px 126px 59px 130px;
  }
}

.dwnloads {
  margin-top: 31px;
}
.dwnloads > a:last-child {
  margin-left: 10px;
}
@media screen and (min-width: 1400px) {
  .dwnloads {
    margin-top: 0px;
    flex-direction: row;
  }
}

/* column2 */
.additional-navigation {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #E3E3E3;
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    padding: 0;
    margin-top: 60px;
    margin-bottom: 47px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    border: none;
  }
}
.additional-navigation__column {
  width: 265px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-top: 0;
  }
}
.additional-navigation ul {
  padding: 0;
}
.additional-navigation li, .additional-navigation a {
  text-decoration: none;
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  color: rgba(43, 41, 45, 0.6);
}
.additional-navigation__title {
  margin: 0 0 18px 0;
  font-size: 22px;
  line-height: 28px;
}

.nav-second-column {
  margin-left: 0px;
}
@media screen and (min-width: 1400px) {
  .nav-second-column {
    margin-left: 29px;
  }
}

.footer-links {
  /* height: 50px; */
  width: 1140px;
  margin: 0 auto;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    height: 50px;
    width: 1140px;
    margin: 0 auto;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}

.terms {
  margin-top: 31px;
  width: 185px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .terms {
    margin-top: 0px;
  }
}
.terms__items {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

.social-links {
  width: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 22px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-top: 9px;
    margin-bottom: 0px;
  }
}
.social-links__item {
  width: 100%;
  height: 100%;
}

/* mobile */
.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__img {
  width: 60px;
  height: 60px;
}
.logo-vertical__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
}

.tips {
  margin: 8px 8px 0;
  display: flex;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  width: 100%;
  padding: 40px 15px 40px 15px;
  border-bottom: 1px solid #E3E3E3;
}
.tip__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009B4D;
}
.tip__title {
  margin-top: 17px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  margin: 0;
  margin-top: 15px;
  font-size: 24px;
  line-height: 34px;
}
.tip__fig {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 30px;
  max-width: 100%;
}
.tip__image-caption {
  margin-top: 19px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.top-section {
  display: flex;
  flex-direction: column;
  background-color: #F3C6BD;
}
@media screen and (min-width: 1400px) {
  .top-section {
    display: flex;
    background-color: #F3C6BD;
    width: 1400px;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 76px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
}
.headline__title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  max-width: 754px;
  letter-spacing: -0.3125px;
  margin: 0;
  z-index: 1;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    font-size: 80px;
    line-height: 78px;
    font-weight: 700;
    max-width: 754px;
    letter-spacing: -0.5px;
    margin: 0;
    z-index: 1;
  }
}
.headline__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 24px;
  margin-bottom: 0;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
    margin-top: 34px;
    margin-bottom: 0;
    z-index: 1;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    display: flex;
    margin-top: 58px;
  }
}
.headline__learn-more-btn {
  width: 158px;
  height: 48px;
  background-color: #fff;
  border: none;
  color: #3040C4;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  border-radius: 2px;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
.headline__baner {
  width: 100%;
  height: auto;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__baner {
    position: relative;
    top: 8px;
    right: -105px;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}
.headline__action-btn {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline__action-btn {
    width: 160px;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    margin-top: 39px;
    background-color: #F3C6BD;
  }
}
.header__sandwich {
  width: 58px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  height: 100%;
  background: none;
  margin-left: auto;
  padding: 0;
  display: inline-block;
}
@media screen and (min-width: 1400px) {
  .header__sandwich {
    display: none;
  }
}
.header__sandwich-btn {
  width: 18px;
  height: 13px;
  line-height: 18px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  display: inline-block;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    opacity: 0.6;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    width: 273px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px 11px 30px auto;
  }
}
.navigation__item {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #2B292D;
}
.navigation__item_selected {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.navigation__arrow {
  display: none;
  width: 8px;
  height: 5px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  background-repeat: no-repeat;
  margin: 19px 0 38px 0px;
}
@media screen and (min-width: 1400px) {
  .navigation__arrow {
    display: inline-block;
  }
}

.header-btn {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header-btn {
    display: inline;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}

.order {
  padding: 50px 15px;
  background-color: #F4F5F7;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
.order .details-desktop {
  display: none;
}
@media screen and (min-width: 1400px) {
  .order .details-desktop {
    display: block;
  }
}
.order .details-mobile {
  display: block;
}
@media screen and (min-width: 1400px) {
  .order .details-mobile {
    display: none;
  }
}
.order__details {
  max-width: 555px;
}
.order__illustration {
  min-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin-top: 40px;
}
.order__text {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  width: 100%;
  height: 48px;
  margin-top: 40px;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(43, 41, 45, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0 15px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
    text-align: left;
  }
}
.order__email::placeholder {
  color: #2B292D;
}
.order__button {
  margin-top: 12px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    margin-left: 10px;
    flex-shrink: 0;
    width: 160px;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.order__terms-link {
  color: #3142C6;
}

.audience {
  background-color: #00A1C612;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
}
.audience__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
}
.audience__header {
  max-width: 555px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .audience__header {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
  }
}
.audience__text {
  max-width: 555px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  margin-top: 18px;
}
.audience__wrapper-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
}
@media screen and (min-width: 1400px) {
  .audience__wrapper-card {
    margin-top: 96px;
  }
}
.audience__btn-group {
  margin-top: 18px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1400px) {
  .audience__btn-group {
    margin-top: 22px;
  }
}
.audience__btn-group_action-btn {
  margin: 12px 0px 0;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audience__btn-group_action-btn {
    width: 160px;
    margin-left: 10px;
  }
}
.audience .action-button-white {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1400px) {
  .audience .action-button-white {
    box-shadow: none;
  }
}
.audience .card-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin-top: 22px;
}

.wrapper-card__row {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper-card__row_card {
  width: 290px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin: 0;
  margin: 15px;
}
@media screen and (min-width: 1400px) {
  .wrapper-card__row_card {
    width: 262px;
  }
}
.wrapper-card__row_card:hover {
  background: none;
  background-color: #3141C5;
  box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.07), 0px 13px 18px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.card-img {
  max-width: 100%;
}

.quote {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 50px 15px 48px 15px;
  background-color: #FCF0E3;
}
@media screen and (min-width: 1400px) {
  .quote {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
.quote__culomn-image {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
}
@media screen and (min-width: 1400px) {
  .quote__culomn-image {
    margin: 142px 0 101px 193px;
  }
}
.quote__image {
  max-width: 100%;
}
.quote__image-description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .quote__image-description {
    display: inline-block;
    margin-top: 15px;
  }
}
.quote__culomn-inbox {
  display: flex;
  flex-direction: column;
  max-width: 519px;
}
@media screen and (min-width: 1400px) {
  .quote__culomn-inbox {
    margin: 115px 0 116px 164px;
  }
}
.quote__subtitle {
  color: #F1592B;
  margin: 0;
  margin-top: 32px;
}
.quote__title {
  margin: 0;
  margin-top: 17px;
}
.quote__text {
  margin: 0;
  margin-top: 18px;
}

.recall {
  margin: 0;
  margin-top: 30px;
  padding: 30px 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%), #FFFFFF;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-bottom: 4px solid #0185D0;
}
.recall__person {
  display: flex;
  align-items: flex-start;
  margin-top: 26px;
}
.recall__text {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.person-avatar {
  max-width: 100%;
}

.person-info {
  margin-left: 11px;
}

.person-name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.peson-description {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #2B292D;
}

* {
  box-sizing: border-box;
}

.page {
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}

.text-paragraph {
  font-size: 24px;
  line-height: 34px;
}

.subtitle-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
}

.title-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .title-text {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
  }
}

/*# sourceMappingURL=styles.css.map */
