div {
    height: 200px;
    position: relative;
    
}
.block_red {
    background-color: red;
    
}
.block_green {
    background-color: green;
    margin-left: 20%;
    top: -200px;
}
.block_blue {
    background-color: blue;
    margin-left: 40%;
    top: -400px;
}
.block_yellow{
    background-color: yellow;
    margin-left: 60%;
    top: -600px;
}
.block_black{
    background-color: black;
    margin-left: 80%;
    top: -800px;
}