
body {
    display: flex;
    box-sizing: border-box;
    /* flex-direction: column; */
}
div {
    height: 300px;
    flex: 1 1 300px;
}
.block_red {
    background-color: red;
}
.block_green {
    background-color: green;
}
.block_blue {
    background-color: blue;
}
.block_yellow {
    background-color: yellow;
}
.block_black {
    background-color: black;
}