$text-color-green: #009B4D;
$text-color-ligthtgrey: rgba(43, 41, 45, 0.6);
$text-color-base: #2B292D;
$text-color-blue: #3142C6;

$bg-grey-color: #F4F5F7;
$bg-teal-color: #00A1C612;

$border-grey-color: rgba(43, 41, 45, 0.2);
