/* * {
    box-sizing: border-box;
} */
.main-form {
    margin: 32px;
    display: flex;
    flex-direction: column;
}
/* input, textarea, select, button {
    margin: 8px;
    display: block;
}
input[type="radio"] {
    display: inline-block;
    margin: 0;
} */
/* input {
    margin: 8px;
     
} */
/* input[type="radio"] {
   
    margin: 0;
}  */
.languages, textarea, select, button, input {
    margin: 0px 0px 8px 8px;
}
/* div {
    margin: 8px;
} */