
header {
    padding: 16px;
    text-align: center;
}
.header-text {
    margin: 0px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 96px;
    background-image: linear-gradient(45deg, yellow,
     #f00);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: Text;


  
}